@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: black;
}

.main {
  background-image: url(Assets/images/bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: max(1200px, 100vw);
  height: 644px;
  position: relative;
  /* top: 0; */
}

.main .box {
  height: 644px;
  width: 100%;
  opacity: 0.68;
  background-color: black;
  position: absolute;
  top: 0;
}

nav {
  display: flex;
  max-width: 80vw;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

nav img {
  width: 130px;
  color: red;
  position: relative;
  z-index: 10;
  font-weight: 900;
}

nav button {
  position: relative;
  z-index: 1;
}

.hero {
  font-family: "Martel Sans", sans-serif;
  height: calc(100% - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  position: relative;
  gap: 23px;
  padding: 0 30px;
}

.hero> :nth-child(1) {
  font-weight: bolder;
  font-size: 48px;
  text-align: center;
}

.hero> :nth-child(2) {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}

.hero> :nth-child(3) {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}

.line {
  height: 6px;
  background-color: rgb(65, 64, 64);
}

.btn {
  padding: 8px 18px;
  font-weight: 600;
  background-color: rgba(94, 98, 101, 0.325);
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
  border: none;

}

.btn-red {
  background-color: red;
  color: white;
  padding: 11px 15px;
  font-size: 20px;
  border-radius: 4px;
  font-weight: 400;
}

.btn-red-sm {
  background-color: red;
  color: white;
}

.hero-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.main input {
  padding: 10px 94px 15px 18px;
  font-weight: 900;
  font-size: 16px;
  border-radius: 4px;
  background-color: rgba(23, 23, 23, 0.7);
  border: 1px solid rgba(119, 117, 117, 0.5);
  color: white;
}

.first {
  display: flex;
  justify-content: center;
  max-width: 70vw;
  margin: auto;
  color: white;
  align-items: center;

}

@media screen and (max-width: 1300px) {

  .first {
    flex-wrap: wrap;
  }

  .hero> :nth-child(1) {
    font-size: 32px;
  }

  .hero> :nth-child(2) {
    font-size: 18px;
  }

  .hero> :nth-child(3) {
    font-size: 18px;
  }

  .hero-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
}

.secImg {
  position: relative;
}

.secImg img {
  width: 333px;
  position: relative;
  z-index: 10;
}

.secImg video {
  position: absolute;
  top: 73px;
  right: 2px;
  width: 330px;
}

section.first>div {
  display: flex;
  flex-direction: column;
  padding: 64px 0;
}

section.first>div :nth-child(1) {
  font-size: 48px;
  font-weight: bolder;
}

section.first>div :nth-child(2) {
  font-size: 24px;
  font-weight: bolder;
}

.faq h2 {
  text-align: center;
  font-size: 48px;
  margin: 30px;
 font-weight: 900;
}

.faq {
  background: black;
  color: white;
  padding: 34px;
}

.faq-box {
  font-size: 24px;
  display: flex;
  background-color: #353535;
  padding: 26px;
  max-width: 60vw;
  margin: 34px auto;
  justify-content: space-between;
  cursor: pointer;
  transition: all 1s ease-out;
}

.faq-box svg {
  color: white;

}

.faq-box:hover {
  background-color: #5b5858;
}

footer {
  color: white;
  max-width: 60vw;
  margin: auto;
  padding: 14px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media screen and (max-width: 1300px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;

  }
}

footer .questions {
  padding: 26px 12px;

}

footer .questions span {
  text-decoration: underline;

}

.footer a {
  text-decoration: underline;
  color: white;
  font-size: 14px;
  padding: 14px;
}

.footer-item {
  display: flex;
  flex-direction: column;
}